@model List<TimePersonApp.Models.Person>

<!DOCTYPE html>
<html>
<head>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
    </header>
    <main>
        <section>
            <h1> TIME </h1>
            <h2>Person of the Year</h2>
        </section>
        <section>
            <form method="post">
                
                <label name="startYear">Start Year</label>
                <input type="number" name="startYear" />
                <label name="endYear">End Year</label>
                <input type="number" name="endYear" />
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>
